button {
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 25px;
  margin: 5px;
  cursor: pointer;
}

.content{
  margin: 50px 50px;
  max-width: 450px;
  height: 300px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.274);
  position: relative;
}

.headerText {
  margin: 25px;
  display: flex;
  flex-direction: row-reverse;
}

.closeBtn {
  margin: 0;
  position: absolute;
  top: 4px;
  right: 10px;
  background: transparent;
  color: rgb(68, 68, 68);
}

.pagination {
  display: flex;
  align-items: center;
}

.windowFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.btnNext{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.btnPrev {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.notificationPoint {
  margin: 1px;
}

.notificationText {
  overflow-y: auto;
  height: 150px;
}

