.content{
  width: 450px;
  height: 300px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.274);
  position: relative;
}

.headerText {
  display: flex;
  flex-direction: row-reverse;
}


.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  color: rgb(68, 68, 68);
  cursor: pointer;
}

.pagination{
  display: flex;
  align-items: center;
}


