body {
  margin: 0;
}

h2 {
  margin: 5px;
}

p {
  font-style: italic;
  margin: 5px;
}

.container {
  margin: 0 auto;
  max-width: 1600;
  min-height: 800px;
  background: url('https://cdn.pixabay.com/photo/2020/06/15/17/10/ancient-5302623_1280.jpg') center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user_form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#city_input {
  border-radius:5px;
}

#button_submit {
  border-radius: 5px;
  background-color: #fff;
  width: 70px;
}

#button_submit:hover {
  background-color:rgb(252, 92, 64);
}

.weather {
  padding: 15px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  border: 1px solid black;
  border-radius: 15px;
  background:rgba(0, 0, 0, 0.5)
}

.weather_icon {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.weather_title {
  color: black;
  font-size: 25px;
}

.weather_subtitle { 
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.weather_value{
  color: rgba(17, 192, 236, 0.596);
  font-size: 40px;
}

.weather_feals {
  font-size: 15px;
  color: rgb(255, 255, 255);
}

