.cardColums {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-auto-flow: row;
  align-self: center;
}

#card {
  display: flex;
  margin: 15px auto;
}

.btn {
  margin: 10 auto;
}

.cardContainer {
  text-align: center;
}

.userName {
  margin: 0;
}